---
// @ts-nocheck
import { getCollection } from 'astro:content';
import BlogPostView from "../components/BlogPostView.astro";
import { TopNavigation } from "../components/TopNavigation";
import { BlogPostCard } from "../components/BlogPostCard";
import { MainColorDivider } from '../components/MainColorDivider';
import BaseLayout from "../layouts/BaseLayout.astro";

const collection = await getCollection('post');
const posts = collection.reverse();
---

<BaseLayout title="sumi blog">
  <TopNavigation />
  <div class="divider">
    <MainColorDivider />
  </div>
  <div class="wrapper">
    <main>
      {posts.map((post) => (<BlogPostView frontmatter={post.data} entry={post} />))}
    </main>
    <aside>
      <h1>タグ一覧</h1>
      <h1>最新記事</h1>
      {posts.map((post) => (<BlogPostCard href={`post/${post.slug}`} frontmatter={post.data} />))}
    </aside>
  </div>
</BaseLayout>

<style>
main {
  width: 70%;
  min-width: 640px;
  padding: 1em 1em 1em 0em;
}
aside {
  width: 30%;
  padding: 1.5em 1em 1em 1em;
}

h1 {
  color: #34343d;
  font-size: x-large;
  font-weight: normal;
}

.wrapper {
  display: flex;
}
.divider {
  padding-left: 10px;
}

@media screen and (max-width: 640px) {
  main {
    width: 100%;
    min-width: 0px;
  }
  aside {
    display: none;
  }
}
</style>
