---
import { TopNavigation } from "../components/TopNavigation"
import Layout from "../layouts/BaseLayout.astro"
---

<Layout title="sumi blog">
  <TopNavigation />
  <main>
    <h1>ようこそ！</h1>
  </main>
</Layout>

<style>

</style>
