.post-tag {
  width: fit-content;
  border: solid 1px #2a2a31;
  margin-right: 1em;
}

.post-tag-text {
  color: #2a2a31;
  font-size: 0.875rem;
  display: inline-flex;
  padding: 0.25em 0.75em;
}

@media screen and (max-width: 640px) {
  .post-tag-text {
    font-size: 0.75rem;
  }
}