---
import BaseLayout from "./BaseLayout.astro"
import { TopNavigation } from "../components/TopNavigation"
import { BlogPostTag } from "../components/BlogPostTag"

const { frontmatter } = Astro.props;
const title = `${frontmatter.title} | sumi blog`;
---

<BaseLayout title={title}>
  <TopNavigation />
  <main>
    <div class="header">
      <p class="info">{frontmatter.publishedAt.substring(0, 10)}</p>
      <h1 class="title">{frontmatter.title}</h1>
      <ul class="tag-container">
      {frontmatter.tags.map((tag: any) => {
          const tagName = tag as string;
          // @ts-ignore
          return (<BlogPostTag tagName={tagName} />);
        })}
      </ul>
    </div>
    <div class="content">
      <slot />
    </div>
  </main>
</BaseLayout>

<style>
  .header {
    padding: 40px 10px 10px 10px;
  }
  .title {
    font-size: xx-large;
    font-weight: normal;
    color: #2a2a31;
    margin-top: 0em;
    margin-bottom: 0em;
  }
  .info {
    color: #2a2a31;
    margin: 0.5em 0em;
  }
  .tag-container {
    padding-left: 0em;
    display: flex;
  }
  .content {
    max-width: 896px;
    color: #2a2a31;
    padding: 10px;

    h1 {
      font-size: x-large;
      font-weight: normal;
      padding-top: 1em;
    }
  }
</style>